/* Product.css */
.card {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 520px;
  width: 400px;
  margin: 10px;
  padding: 10px;
  border: 2px solid #191919;
  border-radius: 5px;
  background: blur(10px);
  position: relative;
}
.card:hover {
  background: rgba(41, 40, 40, 0.2);
  transition: ease-in-out 0.5s;
}
.card img {
  object-fit: cover;
}
.card button {
  background-color: #3498db;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  transition: all 0.3s;
}

.card button:hover {
  background-color: #2980b9;
  transform: scale(1.1);
}
.text-center mt-4 mb-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.text-center {
  text-align: center;
}

.mt-4 {
  margin-top: 1.5rem;
  height: 30px;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-1 {
  margin-top: 0.05rem;
  border-radius: 5px;
  color: rgb(131, 123, 123);
  height: 50px;
  width: 500px;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .mb-1 {
    margin-bottom: 0.5rem;
    border-radius: 5px;
    color: rgb(131, 123, 123);
    height: 30px;
    width: 200px;
    border: none;
    cursor: pointer;
  }
  .mb-2 {
    margin-bottom: 0.5rem;
    border-radius: 5px;
    color: rgb(131, 123, 123);
    height: 10px;
    border: none;
    cursor: pointer;
  }
  .modal {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 4px;
  }
  .modal-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 4px;
  }
  .modal button {
    background-color: #3498db;
    margin: 0.1rem;
  }
}
.mb-2 {
  margin-top: 0.05rem;
  margin-left: 0.1rem;
  border-radius: 5px;
  background-color: #a4cde9;
  color: #4d4d4d;
  height: 50px;
  border: none;
  cursor: pointer;
}
.g-4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-img-top {
  height: 320px;
  width: 100%; /* Change width to 100% for responsiveness */
  object-fit: cover;
}

.card-title {
  font-size: 1.2em;
  font-weight: bold;
}

.card-text {
  margin-top: 10px;
}

.card-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  width: 100%;
}

.button {
  margin: 0.2rem;
  margin-right: 10px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.8em;
  color: #ccc;
  background-color: rgb(81, 65, 230);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  flex-wrap: wrap;
  width: fit-content;
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 4px;
  z-index: 1;
}
.modal button {
  background-color: #84a4ed;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}
.modal-content {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  color: azure;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: auto;
  height: auto;
}

.modal-body {
  padding: 20px;
}
