/* home.css */
.HomeConntainer {
  display: flex;
  height: 50vh;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}

.HomeConntainer h1 {
  color: #422929;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 2.5rem;
}

p {
  color: #555151;
  padding: 1.5rem;
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .HomeConntainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 30vh;
  }
}
