.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #0081a7;
  text-decoration: none;
}
.nav-logo a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 400px;
}
.nav-logo a:hover {
  color: #fff;
  transition: ease-in-out 0.5s;
}
.nav-logo a .store {
  color: #fff;
}
.nav-logo a .store:hover {
  color: #333;
  transition: ease-in-out 0.5s;
}
.nav-menu ul {
  list-style: none;
  display: flex;
}

.nav-menu li {
  margin-right: 20px;
  text-decoration: none;
  display: flex;
  text-decoration: none;
  align-items: center;
}
.nav-menu ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: #333333;
}
.nav-menu ul li a:hover {
  color: #fff;
  transition: ease-in-out 0.5s;
}
.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px;
}
.nav-buttons button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #82b3e4;
  border: none;
  color: rgb(49, 44, 44);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin-right: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.nav-buttons button:hover {
  background-color: #271de2;
  transition: ease-in-out 0.5s;
  color: beige;
}
.nav-buttons a {
  text-decoration: none;
}
.nav-button button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #3086db;
  border: none;
  color: rgb(49, 44, 44);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
}
.nav-button button:hover {
  background-color: #271de2;
  transition: ease-in-out 0.5s;
  color: beige;
}
.nav-button a {
  text-decoration: none;
}
.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.login-container {
  position: fixed;
  flex-wrap: wrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1050;
}

.login-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.login-container input {
  width: 93%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  margin-bottom: 0.1rem;
  flex-wrap: wrap;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.login-container button span {
  margin-left: 0.5rem;
}
.login-container a {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #333;
  text-decoration: none;
  margin-left: 0.5rem;
}
.login-container button:last-child {
  margin-top: 20px;
}

.register-container {
  position: fixed;
  flex-wrap: wrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1050;
}
@media screen and (max-width: 1250px) {
  .login-container {
    width: 80%;
    top: 75%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 4px;
  }
  .register-container {
    width: 80%;
    top: 75%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 4px;
    z-index: 1050;
  }
  .nav-logo a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }
}
.register-container h2 {
  text-align: center;
}

.register-container input {
  width: 94%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-container button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.register-container button:hover {
  background-color: #0056b3;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: #888;
}

.close:hover {
  color: #333;
}
@media (max-width: 767px) {
  .nav-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }

  .nav-menu.open {
    display: block;
  }

  .burger {
    display: flex;
  }

  .nav-menu ul {
    flex-direction: column;
  }

  .nav-menu li {
    margin: 10px 0;
    z-index: 2;
  }
}
